@media only screen and (min-width:320px) and (max-width:420px){
    .logo{
        height: auto;
        width: 300px;
    }
    
 label h3{
   
    font-size: small;
}
input{
    width: 200px;
    height: 40px;
   
   
}
#closebtn{
 
    top: 110px;
    font-size: medium;

}

#h3{
    font-size: small;
    top:200px;
}

.loc{
    
  width: 150px;
  
}
#maindiv{
    width: 280px;
    
}

#modal div{
    
    width: 280px;
    
}
  
}

@media only screen and (min-width:420px) and (max-width:520px){
    .logo{
        height: auto;
        width: 320px;
    }
    
 label h3{
   
    font-size: medium;
}
input{
    width: 250px;
    height: 40px;
   
   
}
#closebtn{
 
    top: 110px;
    font-size: medium;

}

#h3{
    font-size: small;
    top:200px;
}

.loc{
    
  width: 200px;
  
}
#maindiv{
    width: 350px;
    
}

#modal div{
    
    width: 350px;
    
}
  
}

@media only screen and (min-width:520px) and (max-width:720px){
    .logo{
        height: auto;
        width: 400px;
    }
    
 label h3{
   
    font-size: large;
}
input{
    width: 250px;
    height: 40px;
   
   
}

.loc{
    
  width: 250px;
  
}

#closebtn{
 
    top: 110px;
    font-size: medium;

}

#h3{
    font-size: small;
    top:200px;
}
#maindiv{
    width: 350px;
    
}

#modal div{
    
    width: 350px;
    
}
  
}

@media only screen and (min-width:720px) and (max-width:1200px){
    .logo{
        height: auto;
        width: 500px;
    }
    
label h3{
   
    font-size: larger;
}
input{
    width: 350px;
    height: 40px;
   
   
}

.loc{
    
  width: 300px;
  
}
#maindiv{
    width: 450px;
    
}
#closebtn{
 
    top: 110px;
    font-size: medium;

}

#h3{
    font-size: small;
    top:200px;
}

#modal div{
    
    width: 450px;
    
}
  
}
